<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/settings"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'UTILS.terms-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{ 'TERMS.art1-title' | translate }}</h1>
  <p>{{ 'TERMS.art1-item1' | translate }}</p>
  <p>{{ 'TERMS.art1-item2' | translate }}</p>
  <p>{{ 'TERMS.art1-item3' | translate }}</p>

  <h1>{{ 'TERMS.art2-title' | translate }}</h1>
  <p>{{ 'TERMS.art2-item1' | translate }}<br>
    {{ 'TERMS.art2-item2' | translate }}<br>
    {{ 'TERMS.art2-item3' | translate }}<br>
    {{ 'TERMS.art2-item4' | translate }}</p>

  <h1>{{ 'TERMS.art3-title' | translate }}</h1>
  <p>{{ 'TERMS.art3-item1' | translate }}<br>
    {{ 'TERMS.art3-item2' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'TERMS.art3-item3' | translate }}</p>
    </li>
    <li>
      <p>{{ 'TERMS.art3-item4' | translate }}</p>
    </li>
  </ul>
  <p>{{ 'TERMS.art3-item5' | translate }}<br>
    {{ 'TERMS.art3-item6' | translate }}<br>
    {{ 'TERMS.art3-item7' | translate }}</p>
  <p>{{ 'TERMS.art3-item8' | translate }}</p>

  <h1>{{ 'TERMS.art4-title' | translate }}</h1>
  <p>{{ 'TERMS.art4-item1' | translate }}<br>
    {{ 'TERMS.art4-item2' | translate }}<br>
    {{ 'TERMS.art4-item3' | translate }}</p>

  <h1>{{ 'TERMS.art5-title' | translate }}</h1>
  <p>{{ 'TERMS.art5-item1' | translate }}<br>
    {{ 'TERMS.art5-item2' | translate }}</p>

  <h1>{{ 'TERMS.art6-title' | translate }}</h1>
  <p>{{ 'TERMS.art6-item1' | translate }}<br>
    {{ 'TERMS.art6-item2' | translate }}<br>
    {{ 'TERMS.art6-item3' | translate }}<br>
    {{ 'TERMS.art6-item4' | translate }}</p>

  <h1>{{ 'TERMS.art7-title' | translate }}</h1>
  <p>{{ 'TERMS.art7-item1' | translate }}</p>

  <h1>{{ 'TERMS.art8-title' | translate }}</h1>
  <p>{{ 'TERMS.art8-item1' | translate }}<br>
    {{ 'TERMS.art8-item2' | translate }}<br>
    {{ 'TERMS.art8-item3' | translate }}<br>
    {{ 'TERMS.art8-item4' | translate }}<br>
    {{ 'TERMS.art8-item5' | translate }}<br>
    {{ 'TERMS.art8-item6' | translate }}<br>
    {{ 'TERMS.art8-item7' | translate }}</p>

  <h1>{{ 'TERMS.art9-title' | translate }}</h1>
  <p>{{ 'TERMS.art9-item1' | translate }}</p>

  <h1>{{ 'TERMS.art10-title' | translate }}</h1>
  <p>{{ 'TERMS.art10-item1' | translate }}</p>

  <h1>{{ 'TERMS.art11-title' | translate }}</h1>
  <p>{{ 'TERMS.art11-item1' | translate }}</p>
</ion-content>