<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/login"></ion-icon>
    </ion-buttons>
    <ion-title>{{'UTILS.reset-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content shape="round">
  <label>{{ 'RESET-PASSWORD.message' | translate }}</label>
  <ion-item id="item-reset-email">
    <ion-label position="floating">{{ 'UTILS.email-title' | translate }}</ion-label>
    <ion-input [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-button (click)="resetPassword()" class="account-button" id="reset-button">
    <label>{{'RESET-PASSWORD.reset-button' | translate }}</label>
  </ion-button>
</ion-content>