<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/settings"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'UTILS.policy-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>{{ 'POLICY.part1-title' | translate }}</h2>
  <p>{{ 'POLICY.part1-subtitle' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'POLICY.part1-itemlist1' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part1-itemlist2' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part1-itemlist3' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part1-itemlist4' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part1-itemlist5' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part1-itemlist6' | translate }}</p>
    </li>
  </ul>

  <h1>{{ 'POLICY.part2-title' | translate }}</h1>
  <p>{{ 'POLICY.part2-subtitle' | translate }}</p>
  <h2>{{ 'POLICY.part2-subpart1-title' | translate }}</h2>
  <p>{{ 'POLICY.part2-subpart1-subtitle' | translate }}</p>
  <ul>
    <li>
      <p>
        {{ 'POLICY.part2-subpart1-itemlist1.1' | translate }}<br>{{ 'POLICY.part2-subpart1-itemlist1.2' | translate }}<br>{{ 'POLICY.part2-subpart1-itemlist1.3' | translate }}
      </p>
    </li>
  </ul>

  <h2>{{ 'POLICY.part2-subpart2-title' | translate }}</h2>
  <p>{{ 'POLICY.part2-subpart2-subtitle' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'POLICY.part2-subpart2-itemlist1' | translate }}</p>
    </li>

    <li>
      <p>{{ 'POLICY.part2-subpart2-itemlist2' | translate }}</p>
    </li>
  </ul>

  <h1>{{ 'POLICY.part3-title' | translate }}</h1>
  <p>{{ 'POLICY.part3-subtitle1.1' | translate }}<br>{{ 'POLICY.part3-subtitle1.2' | translate }}</p>

  <p>{{ 'POLICY.part3-subtitle2' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'POLICY.part3-itemlist1.1' | translate }}<br>{{ 'POLICY.part3-itemlist1.2' | translate }}</p>
    </li>

    <li>
      <p>{{ 'POLICY.part3-itemlist2' | translate }}</p>
    </li>
  </ul>

  <h1>{{ 'POLICY.part4-title' | translate }}</h1>
  <p>{{ 'POLICY.part4-subtitle1' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'POLICY.part4-itemlist1' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part4-itemlist2' | translate }}</p>
    </li>
  </ul>

  <h1>{{ 'POLICY.part5-title' | translate }}</h1>
  <p>{{ 'POLICY.part5-subtitle1' | translate }}</p>
  <p>{{ 'POLICY.part5-subtitle2' | translate }}</p>
  <p>{{ 'POLICY.part5-subtitle3' | translate }}</p>
  <p>{{ 'POLICY.part5-subtitle4' | translate }}</p>
  <p>{{ 'POLICY.part5-subtitle5' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'POLICY.part5-itemlist1' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part5-itemlist2' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part5-itemlist3' | translate }}</p>
    </li>
    <li>
      <P>{{ 'POLICY.part5-itemlist4' | translate }}</P>
    </li>
    <li>
      <p>{{ 'POLICY.part5-itemlist5' | translate }}</p>
    </li>
  </ul>

  <h1>{{ 'POLICY.part6-title' | translate }}</h1>
  <p>{{ 'POLICY.part6-subtitle1' | translate }}</p>
  <ul>
    <li>
      <p>{{ 'POLICY.part6-itemlist1' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part6-itemlist2' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part6-itemlist3' | translate }}</p>
    </li>
    <li>
      <p>{{ 'POLICY.part6-itemlist4' | translate }}</p>
    </li>
  </ul>

  <p>{{ 'POLICY.part6-itemlist5.1' | translate }}<br>{{ 'POLICY.part6-itemlist5.2' | translate }}</p>
  <p>{{ 'POLICY.part6-itemlist6' | translate }}</p>
</ion-content>
