
<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'UTILS.profile-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item name="item-firstname">
        <ion-label>{{ 'UTILS.firstname' | translate }}</ion-label>
        <ion-input required="true" clearInput type="text" autocomplete="on" [(ngModel)]='user.firstName'
          (change)='onChangeFirstName()'></ion-input>
      </ion-item>

      <ion-item name="item-lastname">
        <ion-label>{{ 'UTILS.lastname' | translate }}</ion-label>
        <ion-input required="true" clearInput type="text" autocomplete="on" slot="end" [(ngModel)]='user.lastName'
          (change)='onChangeLastName()'>
        </ion-input>
      </ion-item>

      <ion-item name="item-email">
        <ion-label>{{ 'UTILS.email-title' | translate }}</ion-label>
        <ion-input required="true" clearInput type="email" pattern="email" autocomplete="on" slot="end"
          [(ngModel)]='user.email' (change)='onChangeEmail($event.target.value)'></ion-input>
      </ion-item>

      <ion-item name="item-password">
        <ion-label>{{ 'UTILS.password-title' | translate }}</ion-label>
        <ion-button (click)='onChangePassword()'>
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item name="item-phoneNumber">
        <ion-label>{{ 'UTILS.phone-number' | translate }}</ion-label>
        <ion-input clearInput type="number" pattern="tel" autocomplete="on" slot="end" [(ngModel)]='user.phoneNumber'
          (change)='updateAccount()'>
        </ion-input>
      </ion-item>

      <div *ngIf="!hasVerifiedEmail">
        <ion-button (click)="sendVerificationEmail()" id="button-verify-email" expand="full" fill="clear">
          <ion-label color="danger">{{ 'PROFILE.verify-email' | translate }}</ion-label>
        </ion-button>
      </div>

      <ion-button id="button-delete-account" expand="full" fill="clear" (click)="deleteAccount(); logout()">
        <ion-label color="danger">{{ 'PROFILE.delete-account' | translate }}</ion-label>
      </ion-button>

      <ion-button id="button-disconnection" expand="full" fill="clear" (click)="logout()">
        <ion-label color="danger">{{ 'PROFILE.disconnect' | translate }}</ion-label>
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>