ion-content{
    --overflow: hidden;
    text-align: center;
}

ion-button{
    width: 75%;
    height: auto;
    --border-radius: 0px; 
}

ion-label{
    margin-top: 5%;
    margin-bottom: 5%;
    white-space: initial;
    width: 90%;
}

ion-header {
    height: 20%;
}

ion-toolbar {
    height: 100%;
    --min-height:100%!important;
    --border-width: 0 0 0px !important;
}

#item-signup-email,
#item-signup-password,
#item-signup-phoneNumber,
#item-signup-firstName,
#item-signup-lastName,
#item-signup-confirm-password{
    font-size: small;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#item-signup-lastName {
    margin-top: 15px;
}

#item-signup-confirm-password{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#icon-signup{
    height: 15px;
}

#sign-in-button {
    margin-top: 48px;
    --border-radius: 50px;
    height: 48px;
}
