ion-content{
    text-align: center;
}

ion-button{
    width: 75%;
    height: auto;
    --border-radius: 0px; 
}

ion-label{
    margin-top: 5%;
    margin-bottom: 5%;
    white-space: initial;
    width: 90%;
}

#item-signup-email,
#item-signup-password,
#item-signup-phoneNumber,
#item-signup-firstName,
#item-signup-lastName{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#item-signup-confirm-password{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#icon-signup{
    margin-top: 15%;
    width: 35%;
    height: 35%;
}