<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'UTILS.user-detail-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item name="item-firstname">
        <ion-label>{{ 'UTILS.firstname' | translate }}</ion-label>
        <ion-input *ngIf="user.role === 'ADMIN'" required="true" clearInput type="text" autocomplete="on" [(ngModel)]='userDetails.firstName'
          (change)='onChangeUserFirstName()'></ion-input>
          <ion-label *ngIf="user.role !== 'ADMIN'">userDetails.firstName</ion-label>
      </ion-item>

      <ion-item name="item-lastname">
        <ion-label>{{ 'UTILS.lastname' | translate }}</ion-label>
        <ion-input *ngIf="user.role === 'ADMIN'" required="true" clearInput type="text" autocomplete="on" slot="end" [(ngModel)]='userDetails.lastName'
          (change)='onChangeUserLastName()'>
        </ion-input>
        <ion-label *ngIf="user.role !== 'ADMIN'">userDetails.lasName</ion-label>
      </ion-item>

      <ion-item name="item-email">
        <ion-label>{{ 'UTILS.email-title' | translate }}</ion-label>
        <ion-input *ngIf="user.role === 'ADMIN'" required="true" clearInput type="email" pattern="email" autocomplete="on" slot="end"
          [(ngModel)]='userDetails.email' (change)='onChangeUserEmail($event.target.value)'></ion-input>
      </ion-item>
      <ion-label *ngIf="user.role !== 'ADMIN'">userDetails.email</ion-label>
      
      <ion-item>
        <ion-label>{{ 'UTILS.role-title' | translate }}</ion-label>
        <ion-select [(ngModel)]="userDetails.role" (ionChange)='updateUserAccount()'>
          <ion-select-option value="ADMIN">Admin</ion-select-option>
          <ion-select-option value="USER">User</ion-select-option>
          <ion-select-option value="MANAGER">Manager</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="user.role === 'ADMIN'" name="item-phoneNumber">
        <ion-label>{{ 'UTILS.phone-number' | translate }}</ion-label>
        <ion-input clearInput type="number" pattern="tel" autocomplete="on" slot="end" [(ngModel)]='userDetails.phoneNumber'
          (change)='updateUserAccount()'>
        </ion-input>
      </ion-item>
      <ion-label *ngIf="user.role !== 'ADMIN'">userDetails.phoneNumber</ion-label>

      <ion-button *ngIf="user.role === 'ADMIN'" id="button-delete-account" expand="full" fill="clear" (click)="deleteUserManager(); deleteUserAccount();">
        <ion-label color="danger">{{ 'PROFILE.delete-account' | translate }}</ion-label>
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
