<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PARK.add-park-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="item-park-name">
    <ion-label position="floating">{{ 'PARK.parking-name-title' | translate }}</ion-label>
    <ion-input clear required="true" [(ngModel)]="park.name"></ion-input>
  </ion-item>

  <!--Mettre un modal pour choisir un user dans la liste des user-->
  <ion-item name="item-manager">
    <ion-label position="floating">{{ 'PARK.parking-manager-title' | translate }}</ion-label>
  </ion-item>

  <!--Mettre un modal pour rentrer une nouvelle adresse-->
  <ion-item name="item-address">
    <ion-label position="floating">{{ 'PARK.parking-address-title' | translate }}</ion-label>
  </ion-item>

  <ion-item name="item-phone-number">
    <ion-label position="floating">{{ 'PARK.parking-phone-title' | translate }}</ion-label>
    <ion-input required="true" type="number" [(ngModel)]='park.phoneNumber'></ion-input>
  </ion-item>

  <ion-item name="item-free-places">
    <ion-label position="floating">{{ 'PARK.parking-free-places-title' | translate }}</ion-label>
    <ion-input required="true" type="number" [(ngModel)]='park.freePlaces'></ion-input>
  </ion-item>

  <ion-item name="item-total-places">
    <ion-label position="floating">{{ 'PARK.parking-total-places-title' | translate }}</ion-label>
    <ion-input required="true" type="number" [(ngModel)]='park.totalPlaces'></ion-input>
  </ion-item>

  <ion-button (click)="createPark()" color="success" id="sign-in-button">
    <ion-icon id="icon-in-button-colored" slot="icon-only" name="log-in"></ion-icon>
    <label>{{ 'UTILS.add-title' | translate }}</label>
  </ion-button>
</ion-content>

<ion-tabs [ngClass]="selectedTheme">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="car"></ion-icon>
      <ion-label>{{ 'UTILS.parks-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-park" class="ios" tab="add-park">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>{{ 'UTILS.add-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/settings" class="ios" tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'UTILS.settings-title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>