ion-item {
    --min-height: 70px!important;
}

ion-button {
    left: 0;
    right: 0;
    margin-left:3%!important;
    margin-top: 32px!important;
    width: 94%;
    height: 48px;
    font-size:smaller!important;
}