.theme-dark {
  ion-header {
    background-color: #000000;
    ion-toolbar{
      --background: #000000;
    }
    ion-buttons{
      background-color: #000000;
    }
    ion-icon{
      margin-left: 10px;
      height: 25px;
      width: 25px;
    }
  }
  ion-footer{
    color : white;
    height: 7%;
    background-color:   rgb(70, 70, 70);
  }
  ion-title{
    background-color: #000000;
    color: white;
  }

  ion-menu-button{
    color: white;
  }
 
  ion-content{
    --background: rgb(70, 70, 70);
  }

  ion-list{   
    background-color: rgb(70, 70, 70);
  }

  ion-item{
    --background:  rgb(70, 70, 70);
    color: white;
    --detail-icon-color: white;
  }

  ion-label{
     --background: rgb(70, 70, 70);
     --color: white;
  }

  ion-icon{
    color: white;
  }

  #authors{
    color : white;
  }

  #no-result-title{
    color: rgb(160, 160, 160);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    --background:rgb(70, 70, 70);
  }

  p{
    color: white;
  }

  h1,
  h2,
  h4,
  h5{
    color: orange;
  }

  ion-toggle{
    --background-checked: gray;
  }
  
  ion-menu{
    --background: rgb(70, 70, 70);
  }

  ion-button{
    --background: orange;
    color: white;
    --background-activated: orange;
    --border-radius: 10px;
  }

  ion-card{
    --background : rgb(160, 160, 160);
    color : white;
  }

  #button-disconnection,
  #button-delete-account,
  #button-update-account,
  #button-verify-email,
  #button-change-picture-account,
  #button-add-participant,
  #button-delete-participant,
  #button-add-quizz,
  #button-delete-quizz,
  #button-list-members,
  #button-leave,
  #button-delete-contact{
    --background: rgb(70, 70, 70);
    --background-activated:rgb(70, 70, 70);
  }

  ion-searchbar{
    --color: white;
    --background: rgb(160, 160, 160);
  }

  background-color: rgb(70, 70, 70);
  --ion-color-primary: orange;
}