.theme-light {
  ion-header {
    background-color: #74d9e4;
    ion-icon{
      color: white;
    }
    ion-toolbar{
      --background: #74d9e4;
    }
    ion-buttons{
      --background: #74d9e4;
    }
    ion-icon{
      margin-left: 15px;
      height: 25px;
      width: 25px;
    }
  }

  ion-tab-bar {
    background-color: #74d9e4;
    ion-icon{
      color: white;
    }
    ion-toolbar{
      --background: #74d9e4;
    }
    ion-buttons{
      --background: #74d9e4;
    }
    ion-icon{
      margin-left: 15px;
      height: 25px;
      width: 25px;
    }
  }

  ion-footer{
    height: 7%;
    background-color: #e9e7e7;
  }

  ion-footer{
    color : black;
  }
  
  ion-title{
    background-color: #74d9e4;
    color: white;
  }

  ion-menu-button{
    color: white;
  }
 
  ion-content{
    --background:#e9e7e7;
  }

  ion-list{   
    background-color: #e9e7e7;
  }

  ion-item{
    --background:  #e9e7e7;
    color: black;
    --detail-icon-color: black;
  }

  ion-label{
     --background: #e9e7e7;
     --color: black;
  }

  ion-icon{
    color: black;
  }

  #authors{
    color : black;
  }

  #no-result-title{
    color: rgb(160, 160, 160);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    --background:#e9e7e7;
  }

  p{
    color: black;
  }

  h1,
  h2,
  h4,
  h5{
    color: 3880ff;
  }
  ion-toggle{
    --background-checked: #74d9e4;
  }
  
  ion-menu{
    --background: #e9e7e7;
  }

  ion-button{
    --background: #74d9e4;
    color: white;
    --background-activated: #74d9e4;
    --border-radius: 10px;
  }

  ion-card{
    --background : #74d9e4;
    color : black;
  }

  #picture-profile,
  #button-disconnection,
  #button-delete-account,
  #button-verify-email,
  #button-change-picture-account,
  #button-add-participant,
  #button-delete-participant,
  #button-add-quizz,
  #button-delete-quizz,
  #button-list-members,
  #button-leave,
  #button-delete-contact{
    --background: #e9e7e7;
    --background-activated:#e9e7e7;
  }

  #button-update-account{
    --background: #e9e7e7;
    --background-activated:#e9e7e7;
    color : red;
  }

  #content-runpage{
    --background: #74d9e4;
  }

  #icon-in-button-colored{
    color: white;
  }

  #icon-run-page{
    color : white;
  }

  #list-run-page{
    background-color: #74d9e4;
  }

  ion-searchbar{
    --color: black;
  }

  background-color: #e9e7e7;
  --ion-color-primary: #74d9e4;
  --ion-color-secondary: #3880ff;
  }