ion-icon{
    margin-left: 5px;
}

ion-content{
    text-align: center;
}

ion-button{
    width: 75%;
    height: auto;
}

ion-label{
    margin-top: 5%;
    margin-bottom: 5%;
    white-space: initial;
    width: 90%;
}
#item-signin-email{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#item-signin-password{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#icon-signin{
    margin-top: 15%;
    width: 35%;
    height: 35%;
}

#reset-button{
    height: 25px;
}