<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'UTILS.login-title' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/run"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content shape="round">
  <!-- <ion-icon id="icon-signin" name="log-in"></ion-icon> -->

  <ion-item id="item-signin-email">
    <ion-label position="floating">{{ 'UTILS.email-title' | translate }}</ion-label>
    <ion-input [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item id="item-signin-password">
    <ion-label position="floating">{{ 'UTILS.password-title' | translate }}</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button routerLink="/reset-password" id="reset-button" class="inverted">
    <ion-label>{{ 'LOGIN.reset-password-button' | translate }}</ion-label>
  </ion-button>

  <ion-button (click)="login()" class="account-button" id="login-button">
    <!-- <ion-icon id="icon-in-button-colored" slot="icon-only" name="log-in"></ion-icon> -->
    <ion-label>{{ 'UTILS.login-button-title' | translate }}</ion-label>
  </ion-button>

  <ion-button class="account-button inverted" id="account-button" routerLink="/signup">
    <!-- <ion-icon id="icon-in-button-colored" name="person-add"></ion-icon> -->
    <ion-label>{{ 'LOGIN.sign-up-button' | translate }}</ion-label>
  </ion-button>



  <!-- Il faut créer sur firebase une application android et ios pour les utilisés
  <ion-button color="secondary">
    <ion-icon id="icon-in-button-colored" name="logo-facebook" slot="start"></ion-icon>
    <ion-label>{{ 'LOGIN.sign-in-facebook' | translate }}</ion-label>
  </ion-button>

  <ion-button color="danger">
    <ion-icon (click)="loginWithGoogle()" id="icon-in-button-colored" name="logo-google" slot="start"></ion-icon>
    <ion-label>{{ 'LOGIN.sign-in-google' | translate }}</ion-label>
  </ion-button>
  -->

</ion-content>
