<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'UTILS.app-name' | translate }}</ion-title>
    <ion-buttons *ngIf="user.role === 'ADMIN'" slot="end" routerLinkActive="tab-selected" routerLink="add-park" class="ios" tab="add-park">
      <ion-icon name="add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel"></ion-searchbar>
  <ion-list *ngIf="searchInput !== ''">
   <ion-item *ngFor="let park of searchedParks">
    {{ park.name }}
   </ion-item>
</ion-list>

	<div id="mapId" style="width: 100%; height: 100%"></div>
</ion-content>

<ion-footer>
  <ion-tabs [ngClass]="selectedTheme">
    <ion-tab-bar slot="bottom">
      <ion-tab-button *ngIf="user.role === 'ADMIN' || user.role ==='MANAGER'" routerLink="parks" class="ios">
        <ion-icon name="car"></ion-icon>
        <ion-label>{{ 'UTILS.parks-title' | translate }}</ion-label>
      </ion-tab-button>
 
      <ion-tab-button routerLink="profile" class="ios">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ 'UTILS.profile-title' | translate }}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button *ngIf="user.role === 'ADMIN'" routerLink="users" class="ios">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ 'UTILS.users-title' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="settings" class="ios">
        <ion-icon name="settings"></ion-icon>
        <ion-label>{{ 'UTILS.settings-title' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>