<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'UTILS.app-name' | translate }}</ion-title>
    <ion-buttons *ngIf="user.role === 'ADMIN'" slot="end" routerLinkActive="tab-selected" routerLink="add-park" class="ios" tab="add-park">
      <ion-icon name="add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-searchbar [(ngModel)]="searchInput" (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel"></ion-searchbar>
  <ion-list *ngIf="searchInput !== ''">
   <ion-item *ngFor="let park of searchedParks">
    {{ park.name }}
   </ion-item>
  </ion-list>

  <div class="panel panel-default">
    <div class="panel-body">
      <google-map control="map.control" center="map.center" zoom="map.zoom">
        <marker coords="marker.center"></marker>
      </google-map>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="origin" class="col-sm-2 control-label">Origin</label>
          <div class="col-sm-8">
          <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
          </div>
        </div>
        <div class="form-group">
          <label for="destination" class="col-sm-2 control-label">Destination</label>
          <div class="col-sm-8">
          <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
          <button class="btn btn-primary" ng-click="getDirections()">Get Directions</button>
          </div>
        </div>
      </form>

      <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
    </div>
  </div>

	<div id="mapId" style="width: 100%; height: 100%"></div>
</ion-content>

<ion-footer>
  <ion-tabs [ngClass]="selectedTheme">
    <ion-tab-bar slot="bottom">
      <ion-tab-button *ngIf="user.role === 'ADMIN' || user.role ==='MANAGER'" routerLink="parks" class="ios">
        <ion-icon name="car"></ion-icon>
        <ion-label>{{ 'UTILS.parks-title' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="profile" class="ios">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ 'UTILS.profile-title' | translate }}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button *ngIf="user.role === 'ADMIN'" routerLink="users" class="ios">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ 'UTILS.users-title' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="settings" class="ios">
        <ion-icon name="settings"></ion-icon>
        <ion-label>{{ 'UTILS.settings-title' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>

<!-- <!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="google-maps@1.0.0" data-semver="1.0.0" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script data-require="angular.js@1.2.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js" data-semver="1.2.17"></script>
    <script data-require="lodash-underscore@*" data-semver="2.4.1" src="https://rawgit.com/lodash/lodash/2.4.1/dist/lodash.underscore.min.js"></script>
    <script data-require="angular-google-maps@*" data-semver="1.1.4" src="https://rawgit.com/nlaplante/angular-google-maps/1.1.4/dist/angular-google-maps.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div class="panel panel-default">
      <div class="panel-body">
        <google-map control="map.control" center="map.center" zoom="map.zoom">
          <marker coords="marker.center"></marker>
        </google-map>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="origin" class="col-sm-2 control-label">Origin</label>
            <div class="col-sm-8">
              <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
            </div>
          </div>
          <div class="form-group">
            <label for="destination" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-8">
              <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button class="btn btn-primary" ng-click="getDirections()">Get Directions</button>
            </div>
          </div>
        </form>
        
        <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
      </div>
    </div>
  </body>

</html> -->
