<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'UTILS.app-name' | translate }}</ion-title>
    <ion-buttons slot="end" routerLinkActive="tab-selected" routerLink="add-park" class="ios" tab="add-park">
      <ion-icon name="add-circle"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item name="item-address" (click)="presentAlert()">
    <ion-label position="floating">{{ 'PARK.parking-address-title' | translate }}</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row *ngFor="let p of allParks">
      <ion-col>
        <ion-card clear [routerLink]="['/edit-park/', p.id]">
          <ion-card-header>
            <ion-card-title>{{ p.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-button fill="clear" disabled="true" id="no-result-title" *ngIf='allParks?.length === 0'>
      <ion-icon name="close-circle-outline"></ion-icon>{{ 'UTILS.no-content-message' | translate }}
    </ion-button>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-tabs [ngClass]="selectedTheme">
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="ios">
        <ion-icon name="car"></ion-icon>
        <ion-label>{{ 'UTILS.parks-title' | translate }}</ion-label>
      </ion-tab-button>
 
      <ion-tab-button routerLink="profile" class="ios">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ 'UTILS.profile-title' | translate }}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="settings" class="ios">
        <ion-icon name="settings"></ion-icon>
        <ion-label>{{ 'UTILS.settings-title' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>