<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'PARK.edit-name-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false" >
    <ion-item name="item-name">
      <ion-label>{{ 'PARK.parking-name-title' | translate }}</ion-label>
      <ion-input required="true" type="text" autocomplete="on" [(ngModel)]='park.name'
        (change)='onChangeName()'></ion-input>
    </ion-item>

    <ion-item *ngIf="user.role === 'ADMIN'" name="item-manager" (click)="updateManager()">
      <ion-label>{{ 'PARK.parking-manager-selection-title' | translate }}</ion-label>
    </ion-item>
  
    <ion-item name="item-address" (click)="updateAddress()">
      <ion-label>{{ 'PARK.parking-address-changer-title' | translate }}</ion-label>
    </ion-item>

    <ion-item name="item-phone-number">
      <ion-label>{{ 'PARK.parking-phone-title' | translate }}</ion-label>
      <ion-input required="true" type="number" autocomplete="on" [(ngModel)]='park.phoneNumber'
        (change)='updatePark()'></ion-input>
    </ion-item>

    <ion-item name="item-free-places">
      <ion-label>{{ 'PARK.parking-free-places-title' | translate }}</ion-label>
      <ion-input required="true" type="number" autocomplete="on" [(ngModel)]='park.freePlaces'
        (change)='updatePark()'></ion-input>
    </ion-item>

    <ion-item name="item-total-places">
      <ion-label>{{ 'PARK.parking-total-places-title' | translate }}</ion-label>
      <ion-input required="true" type="number" autocomplete="on" [(ngModel)]='park.totalPlaces'
        (change)='updatePark()'></ion-input>
    </ion-item>
    
    <ion-button *ngIf="user.role === 'ADMIN'" id="button-delete-account" expand="full" fill="clear" (click)="deletePark()">
      <ion-label color="danger">{{ 'PARK.delete-park' | translate }}</ion-label>
    </ion-button>
  
</ion-content>
